.login{ text-align:center; }
.loginbox{ 
	height: 370px;
    margin: 0 auto;
    padding: 90px 0 0 0px;
    width: 380px;
}
.enter{margin:0;}
.enter a{
	display:inline;
	width:96px;
	height:29px;
	float:left;
	margin-top:60px;
	margin-left:90px;
}
.enter .reset{margin-left:10px;}