<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.openframe.sysmanager.dao.UserDAO">

 <!-- mybatis关联查询例子 -->
 <!--  <resultMap type="com.openframe.sysmanager.domain.User" id="resultUser">
	    <id  property="userId" column="user_id"/>
	    <result property="userName" column="user_name"/>
	    <result property="password" column="password"/>
	    <result property="realName" column="real_name"/>
	    <result property="lastLogindate" column="last_logindate"/>
	    <collection property="roles" ofType="com.openframe.sysmanager.domain.Role"  >
	    	<id property="roleId" column="role_id"/>
	    	<result property="roleName" column="role_Name"/>
	    </collection>
  </resultMap>

	

  useGeneratedKeys自动返回数据库自增主键到keyProperty中
  对于类的映射建议写类路径全名
  <insert id="insert" parameterType="com.openframe.sysmanager.domain.User" useGeneratedKeys="true" keyProperty="userId">
      不同数据库执行不同sql语句例子
	  <if test="_databaseId == 'oracle'">
         select * from t_user
      </if>		
      <if test="_databaseId == 'mysql'">
         INSERT INTO t_user (user_name, password,last_logindate,real_name) 
      	VALUES (#{userName},#{password,jdbcType=VARCHAR}, #{lastLogindate},#{realName})
      </if>
     
  </insert>
  
  <select id="selectById" parameterType="_int" resultType="com.openframe.sysmanager.domain.User">
      select t2.*,t3.* from t_user_role t1, t_user t2,t_role t3 where t2.user_id=#{userId} and t2.user_id=t1.user_id and t1.role_id=t3.role_id
  	  select user_id,user_name,password,last_Logindate,real_name from t_user where user_id=#{userId}
  </select>
  
  <delete id="deleteById" parameterType="_int">
  	   delete from t_user where user_id=#{userId}
  </delete>
  
  <update id="updateById" parameterType="com.openframe.sysmanager.domain.User">
  		update t_user 
  		  <set>
  		  	<if test="userName != null and userName!=''">user_name=#{userName},</if>
  		  	<if test="password != null and password!=''">password=#{password},</if>
  		  	<if test="lastLogindate != null and lastLogindate!=''">last_logindate=#{lastLogindate},</if>
  		  	<if test="realName != null and realName!=''">real_name=#{realName}</if>
  		  </set>
  		   where user_id=#{userId}
  </update>
  
  <select id="selectByCondition" parameterType="com.openframe.sysmanager.domain.User" resultType="com.openframe.sysmanager.domain.User">
  		select user_id,user_name,password,last_Logindate,real_name from t_user
  		  <where>
  		  	<if test="userName != null and userName!=''">user_name=#{userName}</if>
  		  	<if test="lastLogindate != null and lastLogindate!=''"> and last_logindate=#{lastLogindate}</if>
  		  	<if test="realName != null and realName!=''"> and real_name=#{realName}</if>
  		  </where>
  </select>
  
  <select id="selectcount" parameterType="hashmap" resultType="long">
  		select count(*) from t_user 
  		<where>
  			<if test="userName != null and userName!=''">user_name like  CONCAT('%',#{userName,jdbcType=VARCHAR},'%' )</if>
  		</where>
  </select>
  
  
   <select id="pagequery" parameterType="hashmap" resultMap="resultUser">
  		select user_id,user_name,password,last_Logindate,real_name from t_user 
  		<where>
  			<if test="userName != null and userName!=''">user_name like  CONCAT('%',#{userName,jdbcType=VARCHAR},'%' )</if>
  		</where>
  </select> -->
  
  

</mapper>