<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 后台用户管理 -->
	<bean id="spring_adminuser_LoginAction" class="com.institute.meeting.adminuser.action.LoginAction" scope="request">
		<property name="adminUserService" ref="adminUserService"></property>
	</bean>
	
	<bean id="spring_adminuser_AdminUserListAction" class="com.institute.meeting.adminuser.action.AdminUserListAction" scope="request">
		<property name="adminUserService" ref="adminUserService"></property>
		<property name="adminRoleService" ref="adminRoleService"></property>
	</bean>
	
	<bean id="spring_adminuser_MenuAction" class="com.institute.meeting.adminuser.action.MenuAction" scope="request">
		<property name="adminUserService" ref="adminUserService"></property>
	</bean>
	
	<bean id="spring_roles_LocalVersionListAction" class="com.institute.meeting.localversion.action.LocalVersionListAction" scope="request">
		<property name="localVersionService" ref="localVersionService"></property>
	</bean>
	<bean id="spring_roles_LocalVersionUpdateAction" class="com.institute.meeting.localversion.action.LocalVersionAddAction" scope="request">
		<property name="localVersionService" ref="localVersionService"></property>
	</bean>
	
	
	<bean id="spring_adminuser_AdminUserAddAction" class="com.institute.meeting.adminuser.action.AdminUserAddAction" scope="request">
		<property name="adminUserService" ref="adminUserService"></property>
		<property name="adminRoleService" ref="adminRoleService"></property>
	</bean>
	
	<bean id="spring_adminuser_AdminUserDeleteAction" class="com.institute.meeting.adminuser.action.AdminUserDeleteAction" scope="request">
		<property name="adminUserService" ref="adminUserService"></property>
	</bean>
	
	<bean id="spring_adminuser_AdminUserEditAction" class="com.institute.meeting.adminuser.action.AdminUserEditAction" scope="request">
		<property name="adminUserService" ref="adminUserService"></property>
		<property name="adminRoleService" ref="adminRoleService"></property>
	</bean>
	
	<bean id="spring_adminuser_AdminRoleListAction" class="com.institute.meeting.adminuser.action.AdminRoleListAction" scope="request">
	    <property name="adminRoleService" ref="adminRoleService"></property>
	</bean>
	
	<bean id="spring_adminuser_AdminRoleEditAction" class="com.institute.meeting.adminuser.action.AdminRoleEditAction" scope="request">
	    <property name="adminRoleService" ref="adminRoleService"></property>
	    <property name="modelService" ref="modelService"></property>
	    <property name="adminRightService" ref="adminRightService"></property>
	</bean>
	



	<!-- 客户管理 -->
	<bean id="spring_customer_CustomerAction" class="com.institute.meeting.customer.action.CustomerAction"
		scope="request">
		<property name="customerService" ref="customerService"></property>
	</bean>
	<!-- 添加客户 -->
	<bean id="spring_customer_CustomerAddAction" class="com.institute.meeting.customer.action.CustomerAddAction" scope="request">
		<property name="customerService" ref="customerService"></property>
		<property name="roleService" ref="roleService"></property>	
	</bean>
	<!-- 显示客户 -->
	<bean id="spring_customer_CustomerListAction" class="com.institute.meeting.customer.action.CustomerListAction" scope="request">
		<property name="customerService" ref="customerService"></property>
	</bean>
	<!-- 删除客户 -->
	<bean id="spring_customer_CoustomerDeleteAction" class="com.institute.meeting.customer.action.CustomerDeleteAction" scope="request">
		<property name="customerService" ref="customerService"></property>
	</bean>

	<!-- 更新客户 -->
	<bean id="spring_customer_CustomerUpdateAction" class="com.institute.meeting.customer.action.CustomerUpdateAction" scope="request">
		<property name="customerService" ref="customerService"></property>
		<property name="roleService" ref="roleService"></property>	
	</bean>
	
	<bean id="spring_right_RightAction" class="com.institute.meeting.right.action.RightAction" scope="request">
	     <property name="rightService" ref="rightService"></property>	
	</bean>
<!-- 角色管理 -->
	<bean id="spring_role_RoleAction" class="com.institute.meeting.role.action.RoleAction"
		scope="request">
		<property name="roleService" ref="roleService"></property>
	</bean>
	<bean id="spring_role_RoleAddAction" class="com.institute.meeting.role.action.RoleAddAction" scope="request">
	     <property name="roleService" ref="roleService"></property>	
	</bean>
	
	<bean id="spring_role_RoleListAction" class="com.institute.meeting.role.action.RoleListAction" scope="request">
	     <property name="roleService" ref="roleService"></property>	
	</bean>
	
	<bean id="spring_role_RoleDeleteAction" class="com.institute.meeting.role.action.RoleDeleteAction" scope="request">
	     <property name="roleService" ref="roleService"></property>	
	</bean>
	
	<bean id="spring_role_RoleEditAction" class="com.institute.meeting.role.action.RoleEditAction" scope="request">
	     <property name="roleService" ref="roleService"></property>	
	</bean>

	
	<!-- 类别管理 -->
	<bean id="spring_type_TypeDeleteAction" class="com.institute.meeting.type.action.TypeDeleteAction" scope="request">
	     <property name="typeService" ref="typeService"></property>	
	</bean>
	<bean id="spring_type_TypeListAction" class="com.institute.meeting.type.action.TypeListAction" scope="request">
	     <property name="typeService" ref="typeService"></property>	
	</bean>
	<bean id="spring_type_TypeAddAction" class="com.institute.meeting.type.action.TypeAddAction" scope="request">
	     <property name="typeService" ref="typeService"></property>	
	</bean>
	
	<bean id="spring_type_TypeUpdateAction" class="com.institute.meeting.type.action.TypeUpdateAction" scope="request">
	     <property name="typeService" ref="typeService"></property>	
	</bean>
	
	
	<!-- 应用管理 -->
	<bean id="spring_app_ApplicationListAction" class="com.institute.meeting.app.action.ApplicationListAction" scope="request">
	     <property name="applicationService" ref="applicationService"></property>	
	     <property name="hotappService" ref="hotappService"></property>
	</bean>
	
	<bean id="spring_app_ApplicationAddAction" class="com.institute.meeting.app.action.ApplicationAddAction" scope="request">
		<property name="applicationService" ref="applicationService"></property>
		<property name="typeService" ref="typeService"></property>	
	</bean>
	
	<bean id="spring_app_ApplicationUpdateAction" class="com.institute.meeting.app.action.ApplicationUpdateAction" scope="request">
		<property name="applicationService" ref="applicationService"></property>
	</bean>
	
	<bean id="spring_app_ApplicationDeleteAction" class="com.institute.meeting.app.action.ApplicationDeleteAction" scope="request">
		<property name="applicationService" ref="applicationService"></property>
	</bean>
	
    <!-- 热门应用管理 -->
	<bean id="spring_hotapp_HotappAddAction" class="com.institute.meeting.hotapp.action.HotappAddAction" scope="request">
	     <property name="applicationService" ref="applicationService"></property>	
	     <property name="hotappService" ref="hotappService"></property>
	</bean>
	<bean id="spring_hotapp_HotappDeleteAction" class="com.institute.meeting.hotapp.action.HotappDeleteAction" scope="request">
	     <property name="applicationService" ref="applicationService"></property>	
	     <property name="hotappService" ref="hotappService"></property>
	</bean>
	<!--版本管理 -->
	<bean id="spring_version_VersionListAction" class="com.institute.meeting.version.action.VersionListAction" scope="request">
	     <property name="versionService" ref="versionService"></property>
	     <property name="applicationService" ref="applicationService"></property>	
	</bean>
	
	<bean id="spring_version_VersionAddAction" class="com.institute.meeting.version.action.VersionAddAction" scope="request">
	     <property name="versionService" ref="versionService"></property>
	     <property name="applicationService" ref="applicationService"></property>	
	</bean>
	
	<bean id="spring_version_VersionUpdateAction" class="com.institute.meeting.version.action.VersionUpdateAction" scope="request">
	     <property name="versionService" ref="versionService"></property>
	     <property name="applicationService" ref="applicationService"></property>	
	</bean>
	
	<bean id="spring_version_VersionDeleteAction" class="com.institute.meeting.version.action.VersionDeleteAction" scope="request">
	     <property name="versionService" ref="versionService"></property>	
	</bean>
	<!-- 角色适配 -->
	<bean id="spring_roles_addRolesToAppAction" class="com.institute.meeting.right.action.AppAddRolesAction" scope="request">
		<property name="rightService" ref="rightService"></property>
		<property name="roleService" ref="roleService"></property>
	</bean>
</beans>
