<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	
	<bean id="spring_channel_channelManagerAction" class="com.soarsky.octopus.channel.action.ChannelManagerAction" scope="request">
	    <property name="tChannelService" ref="tChannelService"></property>
	</bean>
	<!-- 渠道管理 
	<bean id="spring_channel_addChannelAction" class="com.soarsky.octopus.channel.action.ChannelManagerAddChannelAction" scope="request">
	    <property name="tChannelService" ref="tChannelService"></property>
	</bean>
	
	<bean id="spring_task_ApplicationEditAction" class="com.soarsky.octopus.task.action.ApplicationEditAction" scope="request">
		<property name="tApplicationService" ref="tApplicationService"></property>
	</bean>
	-->
	<!--<bean id="spring_channel_firstChannelAddAction" class="com.soarsky.octopus.channel.action.ChannelFirstLevelAddAction" scope="request">
		<property name="tAreaService" ref="tAreaService"></property>
		<property name="tChannelIndustryService" ref="tChannelIndustryService"></property>
		<property name="tRoleInfoService" ref="tRoleInfoService"></property>
	</bean>
	-->
	
	
	<bean id="spring_admin_ManagerPassAction" class="com.soarsky.octopus.manager.action.ManagerPassAction" scope="request">
		<property name="tManagerInfoService" ref="tManagerInfoService"></property>
	</bean>
	
	
	<bean id="spring_admin_ManagerListAction" class="com.soarsky.octopus.manager.action.ManagerListAction" scope="request">
		<property name="tManagerInfoService" ref="tManagerInfoService"></property>
	</bean>
	
	<bean id="spring_admin_ManagerAddAction" class="com.soarsky.octopus.manager.action.ManagerAddAction" scope="request">
		<property name="tManagerInfoService" ref="tManagerInfoService"></property>
		<property name="tRoleInfoService" ref="tRoleInfoService"></property>
	</bean>
	
	<bean id="spring_admin_ManagerEditAction" class="com.soarsky.octopus.manager.action.ManagerEditAction" scope="request">
		<property name="tManagerInfoService" ref="tManagerInfoService"></property>
		<property name="tRoleInfoService" ref="tRoleInfoService"></property>
	</bean>

	<bean id="spring_admin_ManagerDeleteAction" class="com.soarsky.octopus.manager.action.ManagerDeleteAction" scope="request">
		<property name="tManagerInfoService" ref="tManagerInfoService"></property>
	</bean>	
	
	<bean id="spring_admin_RoleListAction" class="com.soarsky.octopus.manager.action.RoleListAction" scope="request">
		<property name="tRoleInfoService" ref="tRoleInfoService"></property>
	</bean>
	
	<bean id="spring_admin_RoleAddAction" class="com.soarsky.octopus.manager.action.RoleAddAction" scope="request">
		<property name="tRoleInfoService" ref="tRoleInfoService"></property>
	</bean>
	
	<bean id="spring_admin_RoleEditAction" class="com.soarsky.octopus.manager.action.RoleEditAction" scope="request">
		<property name="tRoleInfoService" ref="tRoleInfoService"></property>
	</bean>
	
	<bean id="spring_admin_RoleDeleteAction" class="com.soarsky.octopus.manager.action.RoleDeleteAction" scope="request">
		<property name="tRoleInfoService" ref="tRoleInfoService"></property>
		
	</bean>
	
	<bean id="spring_admin_RightEditAction" class="com.soarsky.octopus.manager.action.RightEditAction" scope="request">
		<property name="tRoleInfoService" ref="tRoleInfoService"></property>
		<property name="tModelInfoService" ref="tModelInfoService"></property>
		<property name="tRightInfoService" ref="tRightInfoService"></property>
		
	</bean>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</beans>
