@charset "utf-8";
/*by Denglh 2011-01-27*/
html,body{ height: 100%; }
.XYTipsWindow .boxLoading {
	position: absolute;
	display: block;
	width: 90px;
	height: 30px;
	line-height: 30px;
	margin-left: -45px;
	margin-top: -15px;
	left: 50%;
	top: 50%;
	color: #f00;
}
.XYTipsWindow .boxLoading{
	width:28px;
	margin-left: -14px;
	background:url("loading.gif") no-repeat;
	text-indent: -999em;
	text-align: center;
}
.XYTipsWindow .boxTitle,
.XYTipsWindow .boxTitle span,
.XYTipsWindow .loadinglayer,
.XYTipsWindow .tipslayer,
.XYTipsWindow .arrowLeft,
.XYTipsWindow .colseBtn,
.XYTipsWindow .boxError em,
.XYTipsWindow .dialogBtn,
.XYTipsWindow .dialogBtn.hover{
	background-image: url("../images/close_pan_normal.png");
	background-repeat: no-repeat;
}
.XYTipsWindow .boxTitle {
	position: relative;
	border-width:2px 2px 1px 2px;
	border-color:#54abe0;
	border-style:solid;
	border-bottom: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	height: 40px;
	line-height: 30px;
	background-image:url(../images/alerttitle.png)!important;
	background-color:#ffffff;
}
.XYTipsWindow .boxTitle h3 {
	float: left;
	color:#1b85c4;font-size:15px;font-weight:bold;
	margin: 0;
	text-indent: 10px;
}
.XYTipsWindow .boxTitle span {
	position: absolute;
	width: 17px;
	text-indent: -10em;
	right: 10px;
	top: 10px;
	height: 17px;
	overflow: hidden;
	cursor: pointer;
}
.XYTipsWindow .boxTitle span.hover { background-image: url(../images/close_pan.png); width: 24px;height: 24px;top: 7px;right: 7px;}
.XYTipsWindow .loadinglayer{ line-height: 40px; background-position: 0 -100px!important; }
.XYTipsWindow .tipslayer{
	line-height: 20px;
	text-align: left;
}
.XYTipsWindow .arrowLeft{
	position: absolute;
	width: 8px;
	height: 16px;
	background-position: -20px -170px;
	text-indent: -9999em;
	z-index: 20591;
	overflow: hidden;
}
.XYTipsWindow .colseBtn {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 8px;
	height: 8px;
	background-position: -55px -170px;
	text-indent: -9999em;
	cursor: pointer;
	z-index: 20591;
	overflow: hidden;
}
.XYTipsWindow .boxError{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -60px;
	margin-top: -15px;
	width: 120px;
	height: 30px;
	line-height: 30px;
	color: #f00;
}
.XYTipsWindow .boxError em{
	float: left;
	width:30px;
	height: 30px;
	background-position: -35px -140px;
}
.XYTipsWindow .dialogBtn{
	margin: 5px 5px 0 0;
	width:80px;
	height:35px;
	background-position: 0 -30px;
	border:none;
	color:#333;
}
.XYTipsWindow .dialogBtn.hover{}
.XYTipsWindow.shadow {
	box-shadow:2px 2px 5px #C0BBB5;
	-moz-box-shadow: 2px 2px 5px #C0BBB5;
	-webkit-box-shadow:2px 2px 5px #C0BBB5;
}
.___boxTitle{background-image:url(../images/alerttitle.png)!important;}

.XYTipsWindow .___boxContent{border-top:none!important;border-left:2px solid #54abe0;border-right:2px solid #54abe0;border-bottom:2px solid #54abe0;}
