body{background-color:#fafafa;font-size:14px;}
#menu{background-color:f6f6f6;margin-bottom:8px;}
a{color:#1b85c4;font-family:"Microsoft YaHei";line-height:39px;}
a img{border:none;float:left;margin-top:8px;}
.parent ul li a{color:#666666;}
#menu ul li a{height:39px;background-image:url(../images/nav_1.png);display:block;background-size:100% 100%;background-repeat:repeat-x;padding-left:20px;}
#menu ul li ul li a{height:40px;background-image:none;display:block;padding-left:40px;}
#menu ul li ul li ul li a{height:40px;background-image:none;display:block;padding-left:80px;}
#menu ul li ul li ul li ul li a{height:40px;background-image:none;display:block;padding-left:100px;}
#menu a{background-color:#ffffff;}
#menu .expanded a{background-image:url(../images/nav_2.png);background-size:100% 100%;background-repeat:repeat-x;}
#menu .expanded ul li a{height:40px;background-image:none;display:block;}
#menu a{border-bottom:1px solid #b6b6b6;}
.expanded .expanded {background-image:url(../images/nav_3.png)!important;background-repeat:repeat-x;}
.selected{background-image:url(../images/nav_3.png)!important;background-repeat:repeat-x;}