body{background-color:rgb(241, 240, 240);}
#top_wraper{ background:#77c6f5;width:100%;height:75px;border-bottom:1px solid #389cd7;}
#top_left{margin-left:20px;float:left}
#img_logo{margin-top:7px;float:left}
#top_right_wraper{margin-right:5px;float:right}
#top_right{margin-top:7px;float:right;margin-right:2px}
.p12{font-size:12px;font:"ו";color:#0868b4;margin-top:5px;position:relative;margin-top:5px}
.button{background:#89d0f9;margin-top:2px;margin-left:2px;font-size:12px; color:#1b85c4; text-align:center;width:60px;border:1px solid #89d0f9}

